.App {
  text-align: center;
}


.questionTitle {
  padding-bottom: 8px;
  text-align: left;
}

.nameField {
  width: 50% !important;
  margin: auto;
}

.enterName {
  font-weight: bold;
}

.question {
  padding: 10px;
  width: 60%;
  margin: auto;
}

.sortButton {
  margin: auto;
  margin-bottom: 20px;
}

.answer {
  text-align: left;
}

.title {
  padding-bottom: 20px;
}

.results {
  width: 70%;
  margin: auto;
  text-align: center;
}

.resultsDescription {
  text-align: left;
  display: block;
}

.credits {
  width: 85%;
  display: block;
  margin: auto;
  text-align: center;
  font-size: 12px;
}